body {
    font-size: 20px;
    margin: 0 auto;
}

#container {
    width: 100%;
    height: 100%;
}

.section-1 {
    width: 100%;
    min-width: 1024px;
    height: 1176px;
    position: relative;
    background: url("../img/bg_1.jpg") no-repeat center;
}

.section-2 {
    width: 100%;
    min-width: 1024px;
    height: 1735px;
    background: url("../img/bg_2.jpg") no-repeat center;
    position: relative;
}

.section-3 {
    width: 100%;
    min-width: 1024px;
    height: 3000px;
    background: url("../img/bg_3.jpg") no-repeat center;
    position: relative;
}

.main-top {
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}

.logo {
    width: 517px;
    height: 368px;
    background: url("../img/title.png") no-repeat center;
}

.slogan-box {
    width: 590px;
    height: 100px;
    padding-top: 30px;
}

.start-time {
    width: 587px;
    height: 50px;
    line-height: 50px;
    background-color: #feaf61;
    border-radius: 6px;
    color: #8c4600;
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
}

.userMessage {
    line-height: 44px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    height: 44px;
}

.userMessage span {
    margin: 0 5px;
    cursor: pointer;
}

.line {
    background: #fff;
    height: 1px;
    line-height: 45px;
    margin: 0 auto;
}

.login {
    width: 569px;
    height: 108px;
    background: url("../img/login_bg.png") no-repeat center;
}

.android {
    width: 91px;
    height: 18px;
    margin-right: 4%;
    background: url("../img/android.png") no-repeat center;
}

.loginBtn {
    width: 119px;
    height: 18px;
    margin-right: 6%;
    background: url("../img/loginBtn.png") no-repeat center;
}

.initBtn {
    width: 119px;
    height: 18px;
    margin-right: 6%;
    background: url("../img/init.png") no-repeat center;
    display: none;
}

.login-box {
    width: 569px;
    height: 45px;
    margin-top: 8%;
    padding-top: 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.apple {
    width: 134px;
    height: 18px;
    background: url("../img/app.png") no-repeat center;
}

.banner-left {
    width: 680px;
    position: relative;
    z-index: 3;
}

.banner-right {
    width: 700px;
    height: 600px;
    position: relative;
}

.ball-1 {
    width: 188px;
    height: 235px;
    position: absolute;
    bottom: 0;
    left: -20%;
    z-index: 2;
    background: url("../img/ball1.png") no-repeat center;
}

.ball-2 {
    width: 150px;
    height: 165px;
    position: absolute;
    bottom: -35px;
    left: 31%;
    z-index: 2;
    background: url("../img/ball2.png") no-repeat center;
}

.ball-3 {
    width: 176px;
    height: 293px;
    position: absolute;
    bottom: -194px;
    left: 2%;
    z-index: 2;
    background: url("../img/ball3.png") no-repeat center;
}

.cw-1 {
    width: 726px;
    height: 949px;
    background: url("../img/cw1.png") no-repeat center;
    position: absolute;
    right: 35%;
    top: -19%;
    z-index: 2;
}

.cw-2 {
    width: 1050px;
    height: 948px;
    background: url("../img/cw11.png") no-repeat center;
    position: absolute;
    right: -16%;
    top: 12%;
}

.black-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    opacity: 0.6;
    background: black;
    display: none;
}

.main {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.box-1 {
    width: 1394px;
    height: 942px;
    margin: 0 auto;
    background: url("../img/first_bg.png") no-repeat center;
}

.box-1-1 {
    width: 1394px;
    height: 930px;
    margin: 0 auto;
    margin-left: 1%;
    padding-top: 8%;
    background: url("../img/bg_3.png") no-repeat center;
}

.invite-box {
    width: 1133px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}

.invite-tip {
    padding-top: 45px;
}

h3 {
    color: white;
    font-size: 25px;
}

p.invite-desc-item {
    color: #d9dadd;
    line-height: 32px;
    font-size: 15px;
}

p.invite-desc-item span {
    color: #ff3a34;
}

.invite-code-box {
    width: 947px;
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.p-line {
    width: 1126px;
    height: 2px;
    margin: 0 auto;
    background: url("../img/line.png") no-repeat center;
}

.invite-btn {
    width: 155px;
    height: 48px;
    background: url("../img/bindBtn.png") no-repeat center;
}

.invite-code {
    background: #fff;
    width: 267px;
    height: 48px;
    line-height: 48px;
    text-align: left;
    border-radius: 10px;
}

.codeInput {
    text-align: center;
    width: 267px;
    font-size: 14px;
    line-height: 37px;
    height: 37px;
    border-radius: 5px;
}

.invite-desc, .invite-word {
    height: 45px;
    color: #feaf61;
    line-height: 45px;
}

.item {
    margin: 16px;
}

.level-box-1 {
    width: 836px;
    height: 350px;
    line-height: 350px;
    position: absolute;
    left: 26%;
    bottom: 10px;
}

.level-box-1 ul li {
    float: left;
    width: 20%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.box-2, .box-2-2 {
    width: 1324px;
    height: 570px;
    margin-left: -3%;
    /* padding-top: 3%; */
    background: url("../img/second_bg.png") no-repeat center;
}

.box-3 {
    width: 1211px;
    height: 561px;
    margin-left: 80px;
    margin-top: 6%;
    position: relative;
    background: url("../img/last_bg.png") no-repeat center;
}

.recharge-box {
    width: 1000px;
    height: 539px;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
}

.level-box-2 {
    width: 1157px;
    height: 353px;
    line-height: 353px;
    position: absolute;
    bottom: 10px;
}

.level-box-2 ul li {
    float: left;
    width: 14%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.fb-box {
    width: 1130px;
    height: 539px;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
}

.level-box-3 {
    width: 1200px;
    height: 340px;
    position: absolute;
    bottom: 22px;
}

.level-box-3 ul li {
    float: left;
    width: 27%;
    height: 312px;
    line-height: 312px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 6%;
}

.fb-item {
    margin-top: 3%;
}

.tip-item-2 {
    animation: arrow linear 3s infinite;
    -webkit-animation: arrow linear 3s infinite;
}

.tip-item-1 {
    animation: hoverMove 2s linear 0s infinite normal both;
    -webkit-animation: hoverMove 3s linear 0s infinite normal both;
}

@keyframes hoverMove {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px);
    }
    50% {
        opacity: 0.8;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px);
    }
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: rotate(-5deg);
    }
    50% {
        opacity: 0.8;
        transform: rotate(5deg);
    }
    100% {
        opacity: 1;
        transform: rotate(-5deg);
    }
}

.cw-3 {
    width: 355px;
    height: 570px;
    position: absolute;
    bottom: -92px;
    right: -18%;
    z-index: 2;
    background: url("../img/cw2.png") no-repeat center;
}

.cw-3_bg {
    width: 384px;
    height: 217px;
    right: -18%;
    position: absolute;
    background: url("../img/cw2_bg.png") no-repeat center;
}

.box-4 {
    width: 806px;
    height: 460px;
    padding: 8%;
}

h4 {
    color: white;
    font-size: 25px;
}

.box-4 p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
}

.login-form,
.choose-form, .tip-box {
    width: 632px;
    height: 390px;
    position: fixed;
    top: 57%;
    left: 50%;
    margin-top: -257px;
    margin-left: -327px;
    z-index: 4;
    padding: 31px 26px 60px 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    background: url(../img/alert_bg.png) center no-repeat;
}

select {
    width: 351px;
    height: 52px;
    font-size: 14px;
    margin: 8% 19% 2% 19%;
    background: url("../img/choose_bg.png") no-repeat center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.btn-close, .btn-close-2 {
    width: 79px;
    height: 83px;
    position: absolute;
    top: -32px;
    right: -46px;
    opacity: .8;
    fill-opacity: .8;
    background: url(../img/closeBtn.png) center no-repeat;
}

.btn-close:hover, .btn-login:hover, .btn-fb:hover, .btn-close-2:hover {
    opacity: 1;
    fill-opacity: 1;
    cursor: pointer;
}

.password-div,
.user-div {
    width: 280px;
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    font-family: 'UVNMangTre', sans-serif;
}

.password,
.username {
    width: 280px;
    height: 45px;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    text-align: center;
}

.btn-login {
    width: 280px;
    height: 54px;
    margin-top: 8px;
    text-align: center;
    margin-left: 148px;
    opacity: .8;
    fill-opacity: .8;
    background: url(../img/login.png) no-repeat;
}

.channel-login {
    width: 280px;
    height: 54px;
    margin-top: 8px;
    text-align: center;
    margin-left: 148px;
    opacity: .8;
    fill-opacity: .8;
    background: url(../img/login.png) no-repeat;
}

.tip {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #ad5535;
    margin-top: 10px;
}

.tishi {
    text-align: center;
    margin-top: 20%;
    color: white;
}

.login-tip {
    width: 571px;
    font-size: 12px;
    text-align: center;
    color: #ad5535;
    display: none;
}

.btn-fb {
    width: 280px;
    height: 54px;
    margin-top: 12px;
    opacity: .8;
    fill-opacity: .8;
    margin-left: 148px;
    background: url(../img/fbLogin.png) center no-repeat;
}

.loading {
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 30%;
    margin-left: 14px;
    display: none;
}

.loadingBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 19%;
    display: none;
    background: url("../img/loading.gif") no-repeat;
}

.award-box-1, .award-box-2 {
    width: 406px;
    height: 343px;
    position: absolute;
    display: none;
}

.tip-lv {
    width: 187px;
    height: 101px;
    margin: 0 auto;
    text-align: center;
    color: white;
    line-height: 59px;
    font-size: 22px;
    background: url("../img/tip.png") no-repeat center;
}

.tip-img-dd, .tip-img-sy {
    width: 222px;
    height: 242px;
    background: url("../img/tip_test.png") no-repeat center;
    box-sizing: border-box;
    padding: 24px 63px;
}

.tip-img-dd p, .tip-img-sy p {
    width: 91px;
    height: 42px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.tip-img-1 {
    margin-top: -23%;
}

.tip-img-2 {
    position: absolute;
    right: -14px;
    top: 6px;
}

.tip-img-3 {
    position: absolute;
    right: 21%;
    top: 102px;
}

.nav-box {
    width: 204px;
    height: 280px;
    position: fixed;
    top: 36%;
    right: 2%;
    background: url("../img/nav_bg.png") no-repeat center;
}

.nav-box a {
    color: white;
    line-height: 48px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.nav-box a.active {
    color: #f4cc74;
}
